.bias-lighting-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1495.3px;
    height: 933.18px;
}
.logo-icon {
    position: absolute;
    top: 72px;
    left: 80px;
    width: 348px;
    height: 30px;
}
.home {
    position: absolute;
    top: 10px;
    left: 0px;
}
.about-us {
    position: absolute;
    top: 10px;
    left: 95px;
}
.pricing {
    position: absolute;
    top: 10px;
    left: 0px;
}
.vector-icon {
    position: absolute;
    top: 10px;
    left: 68px;
    width: 13px;
    height: 8px;
}
.dropdown {
    position: absolute;
    top: 0px;
    left: 218px;
    /* width: 82px;
    height: 14px; */
}
.blog {
    position: absolute;
    top: 10px;
    left: 340px;
}
.our-team {
    position: absolute;
    top: 10px;
    left: 421px;
}
.contact-us {
    position: absolute;
    top: 10px;
    left: 549px;
}
.navbar-child {
    position: absolute;
    top: 40px;
    left: 218px;
    background-color: #cef5fe;
    width: 81px;
    height: 4px;
}
.navbar {
    position: absolute;
    top: 70px;
    left: 600px;
    width: 649px;
    height: 34px;
}
.li-des{
    list-style-type: none;
}


.navbar  a.active-link .navbar-child {
    border-bottom: 4px solid#c499fb; 
    width: 100%;
     
}
.navbar a:link{
    text-decoration: none;
}
.navbar a{
    color: white;
}
.cur{
    cursor: pointer;
    font-weight: bold;
}
.cur:hover{
    color: #c9f0fa;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 174px;
}
.hero-section-icon {
    position: absolute;
    top: 183px;
    left: 80px;
    width: 1360px;
    height: 841px;
}
.buttons-icon {
    position: absolute;
    top: 669px;
    left: -15px;
    width: 458px;
    height: 74px;
}
.footer-icon {
    position: absolute;
    top: 2365px;
    left: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.div-final-cta {
    position: absolute;
    top: 1777px;
    left: calc(50% - 720px);
    width: 1440px;
    height: 1391px;
}
.div-packages {
    position: absolute;
    top: 1131.96px;
    left: calc(50% - 512px);
    width: 1024px;
    height: 1093.08px;
}
.dev-compatible-flatten-pri {
    position: absolute;
    background-color: #040a0b;
    width: 100.6%;
    height: 2725px;
    overflow: auto;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: 'Product Sans';
    overflow: hidden;
    bottom: -108px;
    top: -8px;
    left: -8px;
    right: 15px;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #CEF5FE; 
}
::-webkit-scrollbar-thumb {
    background: #1c67b9; 
}
::-webkit-scrollbar-thumb:hover {
    background: #104a88; 
}


